{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "safari >= 7"]
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-class-properties",
    ["module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
